<%- Playlists::PlaylistView.new(playlist).tap do |view| %>
  <li>
    <p>
      <%= view.playlist_name %>
      <%= link_to 'Edit', playlist_path(view.spotify_id) %>
    </p>
    <ol>
    <% view.playlist_tracks.each do |track| %>
      <li>
        <%= track.name %>
      </li>
    <% end %>
    </ol>
  </li>
<% end %>
