<% unless current_user.logged_in? %>
  <%= button_to "Sign in with Spotify", "/auth/spotify" %>
<% else %>
  <%= button_to "Log out", logout_path %>
  <div>
    <%= link_to "Watched playlists", watchers_path %>
  </div>

  <%= render partial: "playlist", collection: @playlists %>
<% end %>
